{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
  *{
    background: darkgrey;
  }
  form{
    margin: 0 auto;
    width: 27%;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background: grey;
    margin-top: 10%;
  }
  button{
    margin: 0 auto;
    border-radius: 1em;
    background: green;
    padding: 1em;
    border: 1px solid grey;
    margin-left: 40%;
    margin-top: 7%;
    text-align: center;
  }
  h2{
    background: grey;
    text-align: center;
  }
  p, a, label{
    background: grey;
    text-align:
  }
  .additional{
    font-size: 1.4em;
    text-align: center;
  }
  input{
    background: darkgrey;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  label{
    font-size: 1.1em;
  }
  @media(max-width: 909px){
    form{
      margin: 0 auto;
      width: 50%;
      /* Form outline */
      padding: 1em;
      border: 1px solid #CCC;
      border-radius: 1em;
      background: grey;
      margin-top: 20%;
    }
    button{
      margin: 0 auto;
      border-radius: 1em;
      background: green;
      padding: 1em;
      border: 1px solid grey;
      margin-left: 40%;
      margin-top: 7%;
      text-align: center;
    }
    h2{
      background: grey;
      text-align: center;
    }
    p, a, label{
      background: grey;
    }
    .additional{
      font-size: 1.4em;
      text-align: center;
    }
    input{
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }
    label{
      font-size: 1.1em;
    }
  }
</style>
<form action="" method="post" autocomplete="off">
  <h2>Log In</h2>
  {% csrf_token %}
  {{form.as_p }}
  <button type="submit">Log in</button>
  <p>Don't have an account? <a href="{% url 'sign up' %}"> sign up</a></p>
  <p class="additional">Or</p>
  <p>Continue with:
  <a href="#">Facebook</a> Or <a href="#">Google</a></p>
</form>
{% endblock %}
