{% extends 'base.html' %}

{% block content %}
  <style>
    *{
      background: darkgrey;
    }
    form{
      margin: 0 auto;
      width: 30%;
      /* Form outline */
      padding: 1em;
      border: 1px solid #CCC;
      border-radius: 1em;
      background: grey;
      margin-top: 5%;
    }
    button{
      margin: 0 auto;
      border-radius: 1em;
      background: green;
      padding: 1em;
      border: 1px solid grey;
      margin-left: 40%;
      text-align: center;
    }
    h2{
      background: grey;
      text-align: center;
    }
    p, a, label{
      background: grey;
    }
    label{
      font-size: 1.1em;
    }
    @media(max-width: 909px){
      form{
        margin: 0 auto;
        width: 50%;
        /* Form outline */
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        background: grey;
        margin-top: 10%;
      }
      button{
        margin: 0 auto;
        border-radius: 1em;
        background: green;
        padding: 1em;
        border: 1px solid grey;
        margin-left: 40%;
        text-align: center;
      }
      h2{
        background: grey;
        text-align: center;
      }
      p, a, label{
        background: grey;
      }
      label{
        font-size: 1.1em;
      }
    }
  </style>
  <form action="" method="post" autocomplete="off">
    <h2>Sign up</h2>
    {% csrf_token %}
    {{form.as_p }}
    <button type="submit">Sign up</button>
    <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
  </form>
{% endblock %}
