* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}
#welcome-section{
    display: flex;
    align-items: center;
    margin: 100px 0 50px 30px;

  }
  #welcome-section img{
    width: 30%;
    margin-left: 350px;
  }
  
  #welcome-section div{
    width: 35%;
    line-height: 1.5;
  }
  
  #welcome-section div h1{
    margin-bottom: 30px;
    font-weight: bolder;
    color: #00325b;
  }
  
  #welcome-section div p{
    margin-bottom: 50px;
  }
  
  .welcome-button {
    text-align: center;
    padding: 20px 60px;
    background: #00325b;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 30px;
  
  }
  
  #popular-anim{
    color: #00325b;
  }
  #demo-anim8{
    background-color: #CFE8FF;
    width: 100%;
    place-content: center;
    padding: 20px;
    border-spacing: 50px;
    display: grid;
    grid-template-areas: 
    'a'
    'b'
    'c'
    'd'
    ;
    gap: 30px;
  }
  .demo-1row, .demo-2row, .demo-3row, .demo-4row{
    display: flex;
    gap: 20px;
    width: 100%;
  }
  .demo-1row div, .demo-3row div{
    background-color: white;
    padding: 4em 8em 4em 8em;
  }
  .demo-2row div, .demo-4row div{
    padding: 0em 8em 4em 8em;
  }
  .demo-1row{
    grid-area: a;
  }
  .demo-2row{
    grid-area: b;
  }
  .demo-3row{
    grid-area: c;
  }
  .demo-4row{
    grid-area: d;
  }
  #visit-button div{
    padding: 0.5em;
    place-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #visit-button button{
      text-align: center;
      padding: 20px;
      background: #00325b;
      border: none;
      text-decoration: none;
      border-radius: 10px;
      font-weight: bolder;
      margin-top: 20px;
      margin-bottom: 40px;
  }
  #visit-button a{
    text-decoration: none;
    color: white;
  }